<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="./css/styles.css" rel="stylesheet">
        <title>
            <%= title %>
        </title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="./css/styles.css" rel="stylesheet">
    </head>
    <body>
            <div class= "grid  grid-cols-6">
             <div class="col-start-3 col-span-2">
                <h1> Create new sport </h1>

                <form action="/createSport" method="post">
                    
                    <div class="py-3">
                        <label>What is the sports name?</label>
                        <input type="text" name="title" class="border border-blue-300 rounded text-gray-900 w-full p-2"
                        required>
                    </div>

                    <div class="py-3">
                        <button type="submit" class="bg-blue-600 hover:bg-blue-800 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Submit</button>
                    </div>

                </form>
             </div>
            </div>
</body>
</html>