<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        background-color: #f9f9f9;
        font-family: Arial, sans-serif;
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .box {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        padding: 30px;
        width: 400px;
      }

      h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
      }

      form label {
        display: block;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      form input[type="text"] {
        border: none;
        border-radius: 3px;
        font-size: 16px;
        padding: 10px;
        width: 100%;
        background-color: #f5f5f5;
        margin-bottom: 20px;
      }

      form input[type="text"]:focus {
        outline: none;
        box-shadow: 0 0 0 2px #4d90fe;
      }

      form button[type="submit"] {
        background-color: #4d90fe;
        border: none;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
        transition: all 0.2s ease;
      }

      form button[type="submit"]:hover {
        background-color: #357ae8;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="box">
        <h1>Create New Sport</h1>
        <form action="/createSport" method="post">
          <div class="form-group">
            <label>What is the sport's name?</label>
            <input type="text" name="title" required />
          </div>
          <div class="form-group">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
