<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>
        <%= title %>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div class= "grid  grid-cols-6">
    <div class="col-start-2 col-span-2">
        <h1> SPORT Session #1 </h1>
        <h3> This session is scheduled for "<%= sessionItem.dueDate %>" , 
            to be played at "<%= sessionItem.venue %>" </h3>
        <h2>Players</h2>
        <div class="players">
            
        </div>
    </div>
    </div>

    <script>
    </script>
</body>