<nav class="main-menu">
  <ul>
      <li>
        <a href="/listSports">
          <i class="fa fa-sports fa-2x"></i>
          <span class="nav-text">
            Sports
          </span>
        </a>
      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-cog fa-2x"></i>
          <span class="nav-text">
            Settings
          </span>
        </a>
      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-user fa-2x"></i>
          <span class="nav-text">
            Profile
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-info fa-2x"></i>
          <span class="nav-text">
            About
          </span>
        </a>
      </li>
    </ul>
    

  <ul class="logout">
      <li>
         <a href="/signout">
               <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text">
                  Logout
              </span>
          </a>
      </li>  
  </ul>
</nav>