body {
    background-color: rgb(216, 185, 185);
}

.players {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.player {
    border: 2px solid darkslategray;
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.delIcon {
    margin-top: 10px;
}